
.imgCat {
    z-index: 9;
    width: 100px;
    height: 50px;
    position: fixed;
    bottom: 40px;
    animation-name: CatRunning;
    animation-duration: 5s;
    animation-iteration-count: 9;
}

@keyframes CatRunning {
    0%  {left:0px;}
    100%{left: 100%;}
}

.titlebox {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 70pt;
    color: black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 150px;
}
.navbar{
    justify-content: center;
    align-items: center;

}


.titlebox .imgCat {
    position: absolute;
    bottom: 0;
    right: 0;
}

.carousel-caption {
    font-size: 60px;
    color: rgb(49, 77, 120);
    border-color: blue;
}

.carousel-indicators {
    margin-top: 20px;
    color: rgba(9, 202, 138, 0.112);
}

.body {
    background-color: blanchedalmond;
    padding: 100px;
    margin: auto;
}

.gallery {
    margin-bottom: 30pt;
}

#main-ctn {
    margin-top: 30pt;
}
